.home{
        will-change:transform;
        transform: translate3d(0px, 15%, 0px) scale3d(1, 1, 1) rotateX(40deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
        transform-style:"preserve-3d";
}